html {
	letter-spacing: 0.1em;
}
.content-home .slogan {
	font-size: 17px;
	font-weight: lighter;
}
.article-content p {
	font-size: 16px;
	font-weight: lighter;
}
.page-header .box-blog-info .info .name {
	font-weight: normal;
}
